
.comandContent{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 220px;
    border-radius: 20px;
}

.comandImg{
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    background-color: #372579;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.comandImg img{
    height: 90px;
    width: 90px;
    color: white;
    filter: brightness(250%);
}

.comandText{
    text-align: center;
    margin-bottom: 10px;
}

