.comandTitle{
    margin-bottom: 10px;
}

.newProjectComand{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    background-color: #F0F1F2;
    display: flex;
    border-radius: 15px;
    gap: 20px;
    min-height: 280px;
    max-height: 280px;
    padding-bottom: 20px;
    align-items: flex-start;
    margin-bottom: 10px;
}