.map_title{
    font-weight: 700;
    margin-bottom: 10px;

}

.map{
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--grey-back);
    border-radius: 30px;
    padding: 20px;
}

.map img{
    height: 30px;
}

.map::-webkit-scrollbar {
    height: 20px; 
    
}

.map::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 15px;
} 

.map::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: var(--grey-back);

}

.map_item{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    min-width: 280px;

}

.map_item:first-child{
    box-shadow: 0px -1px 20px rgba(31, 255, 11, 0.5);
}

.map_date{
    margin-top: 10px;
    border: #36394A 1px solid;
    border-radius: 10px;
    padding: 3px;
}