.loginContainer{
    position: relative;
    min-height: 100vh;
    background-color: var(--grey-back);
}

.loginForm{
    background-color: white;
    width: 500px;
    height: 370px;
    border-radius: 50px;
    box-shadow: var(--main-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 40px;
}

.loginFormTabContainer{
    margin: 10px 0 30px;
    border-radius: 40px;
    align-items: center;
    background-color:var(--grey-color);
    justify-content: center;
    display: flex;
    gap: 4px;
}

.loginFormTab{
    background-color: transparent;
    color: rgba(53, 57,54, 0.7);
    font-weight:500 ;
    cursor: pointer;
    flex: 1;
}

.loginFormTab.active{
    background-color: var(--purple);
    color: white;
    height: 60px;
    border-radius: 40px;
}

.loginFormInputs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loginFormInputs input{
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: var(--main-shadow);
    border: none;
}

.loginFormInputs input::placeholder{
    color: rgba(53, 57,54, 0.5);
}

.loginBtnContainer{   
    margin-top: 29px;
    text-align: center;
}

.loginBtn{
    padding: 15px 70px;
    border-radius: 40px;
    background-color: var(--purple);
    color: white;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease;
}

.loginBtn:hover{
    background-color: #2c1c65;
}