
.reportInf{
    margin-bottom: 5px;
}

.projectHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.projectHeaderBtns {
  display: flex;
  gap: 15px;
}


/* Секции */
.section-header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.add-member-btn {
  background: var(--purple);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.add-member-btn:hover {
  background: #1c005e;
}

.git-input, .description-textarea, .project-title-input  {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--grey-back);
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.3s;
}

.git-input:focus, .description-textarea:focus, .project-title-input:focus  {
  outline: none;
  border-color: #434b51;
}

.description-textarea {
  resize: vertical;
  min-height: 120px;
}

/* Статичные отображения */
.section-title {
  margin-bottom: 10px;
}

.git-link {
  padding: 10px 15px;
  background: #f1effe;
  border-radius: 6px;
  border-left: 4px solid var(--purple);
  word-break: break-all;
}

.description-text {
  line-height: 1.6;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 8px;
  white-space: pre-wrap;
}

/* Стили для команды */
.static-team .teamListStatic {
  display: flex;
  gap: 10px;
  background-color: var(--grey-back);
  padding: 1em;
  border-radius: .5em;
  justify-content: center;

}

.teamMemberStatic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 15px;
  background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  min-width: 170px;
}

.memberName {
  font-weight: 500;
  margin-bottom: 10px;
}

.memberRole {
  color: #666;
  background: #f5f5f5;
  padding: 4px 10px;
  border-radius: 12px;
}

.no-team-message {
  text-align: center;
  padding: 30px;
  color: #999;
  font-style: italic;
}

.comandHint {
  color: #666;
  font-size: 0.9rem;
  margin-top: 5px;
  font-style: italic;
}

/* Загрузка и ошибки */
.loading-container, .error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  gap: 1em;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--purple);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
