
.reportHeader{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.reportTitle{
    margin-bottom: 0;
}

.reports{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--grey-back);
    border-radius: 40px;
    padding: 1em;
}