.newTaskContainer{
    background-color: white;
    width: 50%;
    min-width: 400px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 45px;
    z-index: 9999;
    display: block;
}

.newTaskHeader{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1em;
}

.newTaskContent textarea{
    margin-top: 0.5em;
    width: 100%;
    height: 70px;

}

.newTaskButton{
    position: relative;
    padding: .7em 2em;
    border-radius: 1.5em;
    left: 50%;
    transform: translateX(-50%);
}

.newTaskThings{
    margin: 1em;
    display: flex;
    justify-content: space-around;
    gap: .5em;
}

.newTaskThing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}


select{
    background-color: var(--grey-back);
    border: none;
    padding: .5em;
    border-radius: 1em;
}

select:focus, select:active{
    border: none;
}

option{
    background-color: var(--grey-back);
    border: 0;
    border-radius: 1em;
}

