

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    box-shadow: 0 9px 16px -2px rgba(0, 0, 0, 0.25);
    background-color: white;

}

nav ul{
    height: 50px;
    width: 100%;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    background-color: var(--grey-color) ;
}

.nav_buttons{
    display: flex;
    gap: 10px;
}

.navLinkBtn {
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    box-shadow: var(--main-shadow);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinkBtn img{
    height: 30px;
    width: 30px;
}

.navLinkBtn.active{
    background-color: var(--purple);  
}

.navLinkBtn.active img{
    filter: brightness(200%);
}

.navLink {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #6E7289;
    margin-top:20px;
    margin-bottom: 20px;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink.active{
    background-color: var(--purple) ;
    color: white;
    height: 50px;
    border-radius: 40px;
}
