
.UniPopUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 45px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: block;
}

.popup_content{
    background: white;
    border-radius: 45px;
    overflow: hidden; 
    max-width: 400px;
    width: 100%;
    }

.popup_header{
     background: var(--purple);
    color: white;
    padding: 25px 20px;
    text-align: center;

}

.popup_header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.popup_body {
    padding: 30px 25px;
    text-align: center;
}

.popup_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    
}

.btn_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 9998;
  backdrop-filter: blur(3px);
}

.Unipopup-close {
    position: absolute;
    top: 12px;
    right: 5px;
    color: white;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s;
}