.inviteContainer{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background: white;
    padding: 1.5em;
    border-radius: 2em;
    min-width: 60vw;
    max-width: 70vw;
}

.inviteContainer h1{
    text-align: center;
    margin-bottom: 1em;
}

.inviteContent{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.projectComandContainer{
    display: flex;
    background-color: var(--grey-back);
    gap: 20px;
    padding: 1em;
    border-radius: 1em;
    overflow-x: auto;
    margin-bottom: 10px;

}

.projectComandContainer::-webkit-scrollbar {
    height: 20px; 
}

.projectComandContainer::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 15px;
} 

.projectComandContainer::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: var(--grey-back);

}

.inviteContent .btn_container button{
    padding: 0.7em 2em;
    border-radius: 2em;
    margin-top: 10px;
}